API_BACKEND_URL=
API_KEY_21ST=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USERNAME=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
GOOGLE_API_KEY=
RENDER_API_KEY=
RESEND_API_KEY=
RESEND_FROM=
RESEND_FROM_EMAIL=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
STRIPE_PRICE_STARTER_MONTHLY=
STRIPE_PRICE_STARTER_YEARLY=
STRIPE_PRICE_PROFESSIONAL_MONTHLY=
STRIPE_PRICE_PROFESSIONAL_YEARLY=
STRIPE_PRICE_ENTERPRISE_MONTHLY=
STRIPE_PRICE_ENTERPRISE_YEARLY=
STRIPE_PUBLIC_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_API_BASE_URL=
VITE_BACKEND_URL=
VITE_DESKTOP_DOWNLOAD_URL=
VITE_FIREBASE_API_KEY=
VITE_GEMINI_API_KEY=
VITE_STRIPE_PUBLIC_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=